body {
	background-color: grey;
	margin: 0;
}

main {
	background-color: white;
}

/* Navbar */
nav {
	background-color: #232323;
	display: flex;
	justify-content: space-around;
	align-items: center;
	column-gap: 25px;
	height: 100px;
}

#spacingDiv {
	width: 1000px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a {
	text-decoration: none;
	color: white;
	font-size: 25px;
	font-family: Salsa;
	font-weight: 600;
}

.navImg {
	height: 50px;
}


@media only screen and (max-width: 1000px) {
	#navDiv {
		width: 100%;
	}
}
