main {
	padding: 2rem;
	height: auto;

	display: flex;
	flex-wrap: wrap;

	column-gap: 2rem;
	row-gap: 2rem;
}

h3 {
	font-size: 3rem;
}

p {
	padding-left: 1rem;
	font-size: 2rem;
}


/* Items in shop */
.item {
	background-color: #ffb6ff;
	height: 30rem;
	width: 25rem;
	border-style: ridge;
}

.nameCost {
	padding: 0rem 1rem;
	display: flex;
	justify-content: space-between;
}

.itemPic {
	height: 20rem;
	width: 25rem;
}

.itemText {
	visibility: hidden;
}

div.item:hover img.itemPic {
	height: 8rem;
}

div.item:hover p.itemText {
	visibility: visible;
}

