#firstDiv {
	background-color: white;
	text-align: center;
	font-size: 50px;
}

#firstDiv h2 {
	font-size: 4rem;
}

#firstDiv p {
	font-size: 3rem;
}

#secondDiv {
	background-image: url(../res/MainPicture.png);
	background-size: 100%;
	background-color: #cecece;
	font-size: 50px;
}

#thirdDiv {
	background-color: white;
	text-align: center;
	font-size: 50px;
}

.popularProducts {
	font-size: 35px;
}

