#firstDiv {
	background-color: #FF2C2C;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 180px;
}

h1 {
	color: white;
	font-size: 50;
	font-family: Open Sans;
	font-weight: 600;
}

#secondDiv {
	background-color: white;
	height: 500px;
}

#secondDiv h2, #secondDiv p {
	color: black;
}

#thirdDiv {
	background-color: #FF2C2C;
	height: 800px;
}

h2 {
	color: white;
	font-size: 24;
	font-family: Open Sans;
	font-weight: 600;
	line-height: 33px;
	display: flex;
	align-items: center;
	text-align: center;
	max-width: 480px;
}

p {
	color: white;
	font-size: 24;
	font-family: Open Sans;
	font-weight: 400;
	display: flex;
	align-items: center;
	text-align: center;
	max-width: 460px;
}

.toShop {
	background-color: #FF451D;
	border-radius: 50px;
	width: 450px;
	height: 450px;
}

#spacingDiv2 {
	margin-left: 400px;
	max-width: 1120px;
	display: flex;
	justify-content: space-between;
}
