body {
	background-color: grey;
	margin: 0;
}

nav {
	background-color: white;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: 25px;
	height: 100px;
}

nav div{
	font-size: 25px;
	font-family: Salsa;
}

nav div:hover {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: blue;
}

nav img {
	width: 100px;
}

#logo {
	width: 100px;
	position: absolute;
	top: 0;
}

main {
	margin: 10px 20px;
	background-color: white;
	height: 200px;
}
